.project-web-gl-card {
    background-color: #16181b;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 100%;
    padding: 0;
    border-radius: 5px;
    
    iframe{
        border-radius: 5px;
        margin-bottom: -10px;
    }
}